
$primary-border: #d3d3d3;
$primary-youtube-background: #fff;
$primary-text: #606060;
$primary-sub-background: #f2f2f2;
$primary-color-link: #065fd4;
$primary-font-icon: 24px;
$primary-main-text: #030303;