.home__category-filter {
  width: 100%;
  position: fixed;
  background-color: #fff;

  .home__filter {
    margin: 0 auto;
    height: 56px;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 56px;
    padding: 0 8px;
  }
}

.home__video {
  padding: 132px 0 0 0;
  background-color: #f9f9f9;
  .home__a {
    text-decoration: none;
    color: #333;
  }
  .home__list {
    display: flex;
    flex-wrap: wrap;
    // width: 1112px;
    margin: 0 auto;
    justify-content: center;
  }
}
