.buttonLogin {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
  border: 1px solid blue;
  width: 148px;
  margin: 0 40px 20px;
  align-items: center;
  cursor: pointer;
  cursor: pointer;
  &__iconUser {
    font-size: 24px;
    color: blue;
    opacity: 0.6;
  }
  &__text {
    font-size: 14px;
    text-transform: uppercase;
    color: blue;
    font-weight: 500;
  }
}
