@import '../variable';

.home__category-filter {
  width: 100%;
  overflow: hidden;

  .active {
    background-color: $primary-main-text;
    color: $primary-youtube-background;
    padding: 8px 16px;
    border-radius: $border-radius-small;
    margin: 0;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid $primary-main-text;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.1s ease;
    
    &:hover {
      background-color: #272727;
    }
  }

  .category-filter {
    background: $primary-sub-background;
    color: $primary-main-text;
    padding: 8px 16px;
    border-radius: $border-radius-small;
    margin: 0;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid transparent;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.1s ease;

    &:hover {
      background-color: #e5e5e5;
    }

    &:active {
      background-color: #d9d9d9;
    }
  }
}
