@import '../variable';

.sidebar-small {
  position: fixed;
  top: 56px;
  left: 0;
  width: 72px;
  height: calc(100vh - 56px);
  padding: 12px 0;
  background-color: $primary-youtube-background;
  color: $primary-text;
  z-index: 50;
  border-right: 1px solid $primary-border-light;

  hr {
    border: none;
    border-top: 1px solid $primary-border-light;
    margin: 12px 0;
  }

  &__descLogin {
    font-size: 12px;
    padding: 16px 8px;
    line-height: 16px;
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin: 16px 8px 8px 8px;
    color: $primary-text;
    line-height: 16px;
    text-align: center;
  }

  &__other {
    padding: 16px 8px;
    line-height: 16px;
    color: $primary-text;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
  }
}
