.sidebar {
  position: sticky;
  top: 56px;
  width: 284px;
  height: 90vh;
  padding: 20px 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fff;
  margin: 56px 10px 0 0;

  hr {
    color: #eee;
    background-color: #eee;
    width: 224px;
  }
  &__descLogin {
    font-size: 14px;
    padding: 10px 20px 10px 40px;
    line-height: 20px;
  }
  &__title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 15px 20px ;
    color: #606060;
    line-height: 20px;
  }
  &__other {
    padding: 10px 20px 10px 30px;
    line-height: 20px;
    color: #606060;
    font-size: 12px;
    font-weight: 600;
  }
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  margin-top: 10px;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: rgb(112, 112, 112);
  border-radius: 10px;
  visibility: hidden;
}

/* Handle on hover */
.sidebar:hover::-webkit-scrollbar-thumb {
  background: rgb(147, 147, 147);
  visibility: visible;
}
