.sidebar-small {
  position: sticky;
  top: 56px;
  width: 72px;
  height: 90vh;
  padding: 10px 0;
  background-color: #fff;
  margin: 56px 0;
  color: #757575;

  hr {
    color: #eee;
    background-color: #eee;
    width: 224px;
  }
  &__descLogin {
    font-size: 14px;
    padding: 10px 20px 10px 40px;
    line-height: 20px;
  }
  &__title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0px 20px 30px;
    color: #606060;
    line-height: 20px;
  }
  &__other {
    padding: 10px 20px 10px 30px;
    line-height: 20px;
    color: #606060;
    font-size: 12px;
    font-weight: 600;
  }
}
